@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
  font-family: 'Urbanist', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #232C3D;
  background-color: #F6F6F6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main_panel{
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 1em;
}

main{
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 150px;
  gap:1em;
}
#root{
  margin: 0 auto;
  max-width: 900px;
}

.grey{
  color: #959AA4;
}


.weather-general_country{
  display: flex;
  justify-content: space-between;
  background-color: #EBECF0;
  padding: .8em;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.weather-general_country .text{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.weather-general_country .text h2{
  line-height: 80%;
  font-size: 1.8rem;
}
.weather-general_temp{
  padding: 1em;
  padding-top: 1.6em; 
}
.weather-general{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.country-flag{
  margin: 2%;
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.159);
}

.main-temp{
  font-size: 3.4rem;
  margin: 0;
  line-height: 80%;
}
.main-temp .span{
  font-weight: normal;
}


.country-data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  padding: 1em;
  background-color: rgb(166, 186, 207);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
  .country-data img{
    margin: -1em 0; 
  }
  .country-data h2{
    margin: -.4em 0;
  }

.img-shadow{
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.main-temp svg{
  top: 10px;
  position: relative;
  margin: 0 -15px;
}
.panel_side{
}
.panel_side .stats{
  display: flex;
  flex-direction: column;
  gap:1em;
}

.white{
  color: whitesmoke;
}
.air-condition{
  margin: 1.4em 0;
  background-color: #EBECF0;
  padding: 1em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}
.air-condition h2{
  color: #959AA4;
  font-weight: 500;
  font-size: 1rem;
}
.air-condition .stats{
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: .8em;
}
.weather-stat{
  border-radius: 5px;
  padding: .4em;
  background-color: #232c3d12;
  display: flex;
  gap: .2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #959AA4;
}
.weather-stat h2{
  font-size: small;
}
.weather-stat p{
  font-size: 1.4rem;
}

.weather-stat .icon{
  color: #959AA4;
}
.weather-stat .value{
  color: #232C3D;
}
svg{
  vertical-align: baseline;
}


.cloud{
  background-color: #232C3D;
  padding: .5em;
  margin: .8em 0;
  max-width: 40%;
}
  .cloud .cloud_header{
    padding: -3px 0;
  }
  .cloud .cloud_percent{
    color: white;
    font-size: 1.2rem;
    line-height: 90%;
  }

.flag{
  max-height: 60px;
}

.search{
  /* background-color: #232C3D; */
}
.search .search-bar{
  width: 100%;
  padding: .4em;
  border: 2px solid #7b879f ;
  background-color: #e9eff9;
  margin: 1em .2em;
  font-family: 'Urbanist';
  font-size: 1.4rem;
  color: #232C3D;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.search {
  position: relative;
}
.search .autocomplete{
  background-color: #7b879f;
  border-radius: 8px;
  position: absolute;
  width: 100%;
  color: white;
  top: 90%;
  padding: .5em .6em;
  z-index: 100;
  box-shadow:  2px 10px 14px rgba(43, 49, 71, 0.167);
  left: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.search .autocomplete .opt{
  list-style-type: none;
  border-bottom: 3px solid #232C3D;
  padding: .3em;
  font-size: 1.3rem;
}

.search .autocomplete .opt:hover{
  background-color: #232C3D;
  transition: all 350ms ease;
  cursor: pointer;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
  -o-transition: all 350ms ease;
}