@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
  font-family: 'Urbanist', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #232C3D;
  background-color: #F6F6F6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main_panel{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
}

main{
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 80px;
  gap:1em;
}
#root{
  margin: 0 auto;
  max-width: 900px;
}

.grey{
  color: #959AA4;
}


.weather-general_country{
  display: flex;
  justify-content: space-between;
  background-color: #EBECF0;
  padding: .8em;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.weather-general_country .text{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.weather-general_country .text h2{
  line-height: 80%;
  font-size: 1.8rem;
}
.weather-general_temp{
  padding: 1em;
  padding-top: 1.6em; 
}
.weather-general{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.country-flag{
  margin: 2%;
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.159);
}

.main-temp{
  font-size: 3.4rem;
  margin: 0;
  line-height: 80%;
}
.main-temp .span{
  font-weight: normal;
}


.country-data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  padding: 1em;
  background-color: rgb(166, 186, 207);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
  .country-data img{
    margin: -1em 0; 
  }
  .country-data h2{
    margin: -.4em 0;
  }

.img-shadow{
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.main-temp svg{
  top: 10px;
  position: relative;
  margin: 0 -15px;
}

.white{
  color: whitesmoke;
}
.air-condition{
  margin: 1.4em 0;
  background-color: #EBECF0;
  padding: 1em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}
.air-condition h2{
  color: #959AA4;
  font-weight: 500;
  font-size: 1rem;
}

svg{
  vertical-align: baseline;
}